@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

ul, nav{
	list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.banner{
    background-image: url('../img/banner-principal.jpg');
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center; /*Deixa o texto no meio da imagem*/
    text-align: center; /*deixa o texto centralizado*/
    flex-direction: column; /*para deixar o h1, h3 e o btn em coluna*/
}

/* H1 H3 BTN*/
.banner h1{
    font-size: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.banner h3{
    font-size: 25px;
    margin-bottom: 40px;
}

.banner .btn{
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #000000;
    padding: 15px 35px; /* 15px NO TOP E NA BASE E 35PX NAS LATERAIS*/
    text-transform: uppercase;
}

@media(max-width: 800px){
    .banner{
        min-height: 500px;
    }

    .banner h1{
        font-size: 32px;
    }

    .banner h3{
        font-size: 20px;
    }

    .banner a.btn{
        padding: 15px 40px;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 110px 100px; */
    padding: 50px 100px;
}

@media(max-width: 1000px){
    section{
        /* padding: 100px 50px; */
        padding: 70px 50px;
    }
}

@media(max-width: 600px){
    section{
        padding: 30px 30px;
    }
}

/*DESTAQUE-AREA*/
#destaque{
    background-color: #ddd;
}

ul.destaque-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.destaque-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

ul.destaque-content li h4{
    font-size: 25px;
}

/*Mobile*/
@media(max-width: 1000px){
    ul.destaque-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    ul.destaque-content li:last-child{
        margin-bottom: 0;
    }
}

/*Descricao01-area*/
ul.descricao01-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.descricao01-content li{
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

ul.descricao01-content .height{ /* HEIGHT FOI UM CLASSE CRIADA PARA DA ALTURA NA IMAGEM*/
    height: 290px;
}

.descricao01-left{
    flex-basis: 40%;
    background-image: url('../img/img01.jpg');
}

.descricao01-right{
    flex-basis: 60%;
}

.descricao01-area p{
    max-width: 800px;
    text-align: justify;
}

.section-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}

.descricao01-right h2{
    margin-bottom: 3%;
}

/*Descricao01-area Mobile*/
@media(max-width: 1100px){
    .descricao01-left, .descricao01-right{
        flex-basis: 100%;
    }

    .descricao01-content li{
        padding: 8px;
    }
}
@media(max-width: 1000px){
    .descricao01-left, .descricao01-right{
        flex-basis: 100%;
    }

    .descricao01-content li{
        padding: 8px;
    }
}

.order1{
    order: 2;
}
.order2{
    order: 1;
}

@media(max-width: 1000px){
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
}

/*CHAMADA-AREA*/
#chamada{
    background-color: #ddd;
}

.chamada{
    padding: 50px 20px;
    text-align: center;
}

.chamada h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.chamada p{
    font-size: 20px;
}

/*CONTACT-AREA*/
#contact{
    background-color: #ddd;
}

.contact-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-left{
    flex-basis: 50%;
}

.contact-left p{
    text-align: justify;
}

.contact-right{
    flex-basis: 50%;
}

.contact-right{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info-cont{
    justify-content: column;
}

.number, .email{
    width: 300px;
    border: 1px solid #a6a6a6;
    padding: 5px;
    margin-bottom: 30px;
}

.email{
    margin-bottom: 0;
}

.number:hover{
    background-color: #a6a6a6;
    cursor: pointer;
}
.email:hover{
    background-color: #a6a6a6;
    cursor: pointer;
}

@media(max-width: 1000px){
    .contact-left, .contact-right{
        flex-basis: 100%;
        padding: 10px;
    }
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px;
}

footer i{
    font-size: 25px;
    margin-right:10px;
}

i.fa-facebook:hover{
    color: #3B579E;
}
i.fa-instagram:hover{
    color: #9744A1;
}
i.fa-youtube:hover{
    color: #FE0002;
}
i.fa-twitter:hover{
    color: #2AA9E0;
}
i.fa-whatsapp:hover{
    color: #00D640;
}

