@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

ul, nav{
	list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.banner{
    background-image: url('../img/banner-principal.jpg');
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center; /*Deixa o texto no meio da imagem*/
    text-align: center; /*deixa o texto centralizado*/
    flex-direction: column; /*para deixar o h1, h3 e o btn em coluna*/
}

/* H1 H3 BTN*/
.banner h1{
    font-size: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.banner h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.banner .btn{
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000000;
    padding: 20px 40px; /* 20px NO TOP E NA BASE E 40PX NAS LATERAIS*/
    text-transform: uppercase;
}